.container {
  display: grid;
  height: 100vh;
  place-items: center;
}

.main {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  height: 100%;
}

@media (min-width: 530px) {
  .main {
    height: 90vh;
    width: 530px;
  }
}
